.widget
  margin-bottom: 20px
  margin-top: 20px
  //align-self: center

.badge
  margin-right: 3px

//.bg-image
//  background-image: url("../deadpool_.jpg")
//  //filter: blur(2px)
//  //-webkit-filter: blur(8px)
//  height: 100%
//  width: 100%
//  //background-position: center
//  background-repeat: no-repeat
//  background-size: cover
//  //position: fixed


